@import '../../styles/variables.scss';


.menu{
   
    min-width: 70px;
    height: 100%;
    //outline: 1px solid red;
    border-right: 1px solid #CACACA; 
    padding-top: 40px;
    &__plus, &__search, &__trash, &__home, &__exit{
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 40px;
        //outline: 1px solid red; 
        border-radius: 50px;
        border: 1px solid white;
        &:hover{
           
           border-color: $color-icons;
        }
    }
    &__home{
       padding: 7px;
    }
    &__exit{
       padding: 5px 0 0 2px;
       
    }
    
}

