@import '../../styles/variables.scss';


.trash{
    //outline: 1px solid red;
    
    display: flex;
    &__wrapper{
        margin-top: 5px;
        
        height: 25px;
        width: 100%;
    }
    &__wrapper-top{
        display: flex;
        justify-content: flex-start;
    }
    &__title{
        color: $color-icons;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #CACACA;
        font-size: 15px;
    }
    &__btn{
        padding-left: 10px;
        color: $color-icons;
        font-size: 15px;
        cursor: pointer;
        &:hover{
            color: $text-color;
        }
    }
    &__wrapper-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        //outline: 1px solid rgb(228, 11, 202);
    }
}

.no-records{
    color: red;
}

@media only screen
and (max-device-width :450px) {
    .trash{
        display: block;
        &__title, &__btn{
            font-size: 55px;
        }
        &__wrapper-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgb(0, 255, 47);
            padding: 0 0 0 0;
        }
       
    }
}