@import '../../styles/variables.scss';

.note-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    padding: 5px;
    background-color: $bg-note;
    border: 1px solid #CACACA;
    border-radius: 4px;
    color: $text-color;
    margin: 10px;
    &__text{
        height: 200px;
        border-radius: 5px;
        color: $text-color;
        overflow-wrap: break-word;
        line-height: 22px;
        white-space: pre-line;
        overflow: auto;
    }
    &__botom{
        display: flex;
        justify-content: space-between;
    }
    &__trash svg { 
        fill: #CACACA; 
        stroke: #CACACA; 
        width: 14px;
        height: 20px;
       &:hover{
        stroke: $text-color;
       }
    }
    &__teg, &__recover-note{
        padding-top: 8px;
        color: $color-icons;
        font-size: 12px;
    }
    &__recover-note{
        cursor: pointer;
        &:hover{
            color: $text-color;
        }
    }
}


@media only screen
and (max-device-width :450px) {
    .note-item{
        width: 890px; 
        height: 850px;
        background-color: $bg-note;
        font-size: 400%;
        padding: 25px;
        margin: 0 auto;
        margin-bottom: 20px;
        &__text{
            border-radius: 5px;
            line-height: 80px;
            height: 650px;
        }
        &__trash svg { 
            width: 48px;
            height: 60px;
        }
        &__teg, &__recover-note{
            padding-top: 25px;
            font-size: 50px;
        }
    }
}