@import '../../styles/variables.scss';

.root {
    width: 400px;
    height: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
    
  }
  
  .field {
    margin-bottom: 40px !important;
    
  }
  
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    color:  $color-icons !important;
  }

  


@media only screen
and (max-device-width :450px) {
  .root {
    margin-top: 200px;
    width: 700px;
    height:600px;
    padding: 50px;
    border: 1px solid #dedede;
  }


  
  .field input{
    background-color: green;
    font-size: 60px;
  }

  
  
}